---
---

body {
  background-image: url("{{ site.baseurl }}images/background.png");
}

.nav-icon {
  margin-right: 0.5rem;
}
.nav-icon:hover {
  color: #313131;
}
.message {
  color: white;
  background-color: #ac4142;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
