---
layout: default
---


<!-- Page image. -->
{% if page.image %}
<div class="page-image" id="top">
  <img src="{{ site.baseurl }}{{ page.image.url }}" alt="{{ page.image.alt }}">
  {% if page.image.name %}
  <small>
    {{ page.image.name }}{% if page.image.source %} (Image by <a href="{{ page.image.source.url }}" rel="external">{{ page.image.source.name | escape }}</a>){% endif %}
  </small>
  {% endif %}
</div>
{% endif %}

<!-- Page content. -->
<article>
  <h1>{{ page.title | liquify | escape }}</h1>
  {{ content }}
</article>
