---
layout: default
---


<!-- Post content. -->
<h1>{{ page.title }}</h1>
{% include post-meta.html context=page %}
<article>
  {{ content }}
</article>
<hr/>

<!-- Social share buttons. -->
<div>
  {% capture post_url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endcapture %}
  <a class="link-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ post_url | uri_escape }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <span class="fa-stack fa-lg content-icon">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse" title="Share on Facebook"></i>
    </span>
  </a>
  <a class="link-icon" href="https://twitter.com/share?url={{ post_url | uri_escape }}&hashtags={{ page.tags | join:', ' | uri_escape }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <span class="fa-stack fa-lg content-icon">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse" title="Share on Twitter"></i>
    </span>
  </a>
  <a class="link-icon" href="https://www.reddit.com/submit?url={{ post_url | uri_escape }}&title={{ page.title | uri_escape }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <span class="fa-stack fa-lg content-icon">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-reddit fa-stack-1x fa-inverse" title="Share on Reddit"></i>
    </span>
  </a>
  <a class="link-icon" href="https://www.linkedin.com/shareArticle?mini=true&url={{ post_url | uri_escape }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <span class="fa-stack fa-lg content-icon">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse" title="Share on LinkedIn"></i>
    </span>
  </a>
  <a class="link-icon" href="https://plus.google.com/share?url={{ post_url | uri_escape }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
    <span class="fa-stack fa-lg content-icon">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-google-plus fa-stack-1x fa-inverse" title="Share on Google+"></i>
    </span>
  </a>
</div>

<!-- Disqus comments. -->
{% if page.comments %}
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = "{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html','' }}";
    this.page.identifier = "{{ page.id }}";
    this.page.title = "{{ page.title }}";
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
