---
layout: default
---


<!-- Post content. -->
<div class="page-image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
  <img src="{{ site.baseurl }}{{ page.image.url }}" alt itemprop="url contentUrl">
  <meta itemprop="width" content="{{ page.image.url | image_width }}">
  <meta itemprop="height" content="{{ page.image.url | image_height }}">
  {% if page.image.source %}
  <small>
    Image by <a href="{{ page.image.source.url }}" rel="external" itemprop="author">{{ page.image.source.name | escape }}</a>
  </small>
  {% endif %}
</div>

<article>
  <header>
    <h1 itemprop="headline">{{ page.title | escape }}</h1>
    <aside>
      <h2 class="visuallyhidden">Metadata</h2>
      {% include post-meta.html context=page %}
    </aside>
  </header>
  <div class="drop-letter" itemprop="articleBody">
    {{ content }}
  </div>
  <hr>

  <!-- Social share buttons. -->
  <aside>
    <h2 class="visuallyhidden">Share</h2>
    <ul class="inline">
      {% capture post_url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endcapture %}
      <li>
        {% assign title = 'Share on Facebook' %}
        <a class="link-icon content-icon" href="https://www.facebook.com/sharer/sharer.php?u={{ post_url | uri_escape }}" rel="external" target="_blank" title="{{ title }}">
          <svg class="icon icon-facebook-square">
            <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-facebook-square">
              <title>{{ title }}</title>
            </use>
          </svg>
        </a>
      </li>
      <li>
        {% assign title = 'Share on Twitter' %}
        <a class="link-icon content-icon" href="https://twitter.com/share?url={{ post_url | uri_escape }}&amp;hashtags={{ page | keywords | remove:' ' | replace:'+','p' | replace:'.','dot' | uri_escape }}" rel="external" target="_blank" title="{{ title }}">
          <svg class="icon icon-twitter-square">
            <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-twitter-square">
              <title>{{ title }}</title>
            </use>
          </svg>
        </a>
      </li>
      <li>
        {% assign title = 'Share on Reddit' %}
        <a class="link-icon content-icon" href="https://www.reddit.com/submit?url={{ post_url | uri_escape }}&amp;title={{ page.title | uri_escape }}" rel="external" target="_blank" title="{{ title }}">
          <svg class="icon icon-reddit-square">
            <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-reddit-square">
              <title>{{ title }}</title>
            </use>
          </svg>
        </a>
      </li>
      <li>
        {% assign title = 'Share on LinkedIn' %}
        <a class="link-icon content-icon" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ post_url | uri_escape }}" rel="external" target="_blank" title="{{ title }}">
          <svg class="icon icon-linkedin-square">
            <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-linkedin-square">
              <title>{{ title }}</title>
            </use>
          </svg>
        </a>
      </li>
      <li>
        {% assign title = 'Share on Google+' %}
        <a class="link-icon content-icon" href="https://plus.google.com/share?url={{ post_url | uri_escape }}" rel="external" target="_blank" title="{{ title }}">
          <svg class="icon icon-google-plus-square">
            <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-google-plus-square">
              <title>{{ title }}</title>
            </use>
          </svg>
        </a>
      </li>
    </ul>
  </aside>

  <!-- Disqus comments. -->
  {% if page.comments %}
  <aside>
    <h2 class="visuallyhidden">Comments</h2>
    <div id="disqus_thread"></div>
    <script>
      /* jshint ignore:start */
      var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ site.baseurl }}{{ page.url }}";
        this.page.identifier = "{{ page.id }}";
        this.page.title = "{{ page.title }}";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      /* jshint ignore:end */
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow external">comments powered by Disqus.</a></noscript>
  </aside>
  {% endif %}
</article>

<!-- https://developers.google.com/structured-data/breadcrumbs -->
{% for tag in page.tags %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ site.url}}{{ site.baseurl }}",
          "name": "Home"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "{{ site.url}}{{ site.baseurl }}{{ tag | tag_url }}",
          "name": {{ tag | jsonify }}
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
          "name": {{ page.title | jsonify }}
        }
      }
    ]
  }
</script>
{% endfor %}
