---
layout: null
---


/* Inlined during post-processing. */
@import 'normalize.css';
@import 'syntax.css';
@import 'icons.css';

/* ----------------------------------------------------------------------------
Custom Properties
---------------------------------------------------------------------------- */

:root {
  /* Colour scheme. */
  --colour-main: {{ site.colours.main }};
  --colour-main-muted: rgba(172, 65, 66, .75);
  --colour-page-background: #e7d9cc;

  --colour-black: {{ site.colours.black }};
  --colour-black-muted: #737373;

  --colour-white: #fff;
  --colour-white-muted: rgba(255, 255, 255, .9);

  --colour-grey: #787878;
  --colour-grey-muted: #e0e0e0;

  --colour-brown: #895061;
  --colour-red: #cb4437;

  /* Typefaces. */
  --font-common-settings: 'kern', 'cpsp', 'liga', 'clig', 'calt', 'locl';
  --font-main: alegreya, serif;
  --font-secondary: alegreya-sans, sans-serif;

  /* Regular font size. */
  --frmin: 16;  /* minimum font size (for narrow viewport), px */
  --frmax: 22;  /* maximum font size (for wide viewport), px */
  --wfmin: 1000;  /* viewport width at minimum font size, px */
  --wfmax: 1375;  /* viewport width at maximum font size, px */
  --font-size-regular: calc(  /* map 100vw → font-size-regular */
    (100vw - var(--wfmin) * 1px) * (var(--frmax) - var(--frmin)) /
    (var(--wfmax) - var(--wfmin)) + var(--frmin) * 1px
  );

  /* Minimum and maximum type scale ratios. */
  --rmin: 1.125;  /* minimum type scale ratio (major second interval) */
  --rmax: 1.25;  /* maximum type scale ratio (major third interval) */
  --rprint: var(--rmax);  /* type scale ratio for printing */
  --wrmin: 22.5;  /* viewport width at minimum type scale ratio, rem */
  --wrmax: 36;  /* viewport width at maximum type scale ratio, rem */

  /* Small font size. */
  --fsmin: calc(1 / var(--rmin));  /* rem */
  --fsmax: calc(1 / var(--rmax));  /* rem */
  --font-size-small: calc(
    (100vw - var(--wrmin) * 1rem) * (var(--fsmax) - var(--fsmin)) /
    (var(--wrmax) - var(--wrmin)) + var(--fsmin) * 1rem
  );

  /* Big font size. */
  --fbmin: calc(1 * var(--rmin));
  --fbmax: calc(1 * var(--rmax));
  --font-size-big: calc(
    (100vw - var(--wrmin) * 1rem) * (var(--fbmax) - var(--fbmin)) /
    (var(--wrmax) - var(--wrmin)) + var(--fbmin) * 1rem
  );

  /* Subhead font size. */
  --fshmin: calc(1 * var(--rmin) * var(--rmin));
  --fshmax: calc(1 * var(--rmax) * var(--rmax));
  --font-size-subhead: calc(
    (100vw - var(--wrmin) * 1rem) * (var(--fshmax) - var(--fshmin)) /
    (var(--wrmax) - var(--wrmin)) + var(--fshmin) * 1rem
  );

  /* Subhead2 font size. */
  --fsh2min: calc(1 * var(--rmin) * var(--rmin) * var(--rmin));
  --fsh2max: calc(1 * var(--rmax) * var(--rmax) * var(--rmax));
  --font-size-subhead2: calc(
    (100vw - var(--wrmin) * 1rem) * (var(--fsh2max) - var(--fsh2min)) /
    (var(--wrmax) - var(--wrmin)) + var(--fsh2min) * 1rem
  );

  /* Head font size. */
  --fhmin: calc(1 * var(--rmin) * var(--rmin) * var(--rmin) * var(--rmin));
  --fhmax: calc(1 * var(--rmax) * var(--rmax) * var(--rmax) * var(--rmax));
  --font-size-head: calc(
    (100vw - var(--wrmin) * 1rem) * (var(--fhmax) - var(--fhmin)) /
    (var(--wrmax) - var(--wrmin)) + var(--fhmin) * 1rem
  );

  /* Display font size. */
  --fdmin: calc(
    1 * var(--rmin) * var(--rmin) * var(--rmin) * var(--rmin) * var(--rmin)
  );
  --fdmax: calc(
    1 * var(--rmax) * var(--rmax) * var(--rmax) * var(--rmax) * var(--rmax)
  );
  --font-size-display: calc(
    (100vw - var(--wrmin) * 1rem) * (var(--fdmax) - var(--fdmin)) /
    (var(--wrmax) - var(--wrmin)) + var(--fdmin) * 1rem
  );

  /* Line height scale. */
  --line-height-ratio: 1.25;  /* major third scale */
  --line-height-extra-tight: 1;
  --line-height-tight: calc(
    var(--line-height-extra-tight) * var(--line-height-ratio)
  );
  --line-height-regular: calc(
    var(--line-height-tight) * var(--line-height-ratio)
  );

  /* Spacing. */
  --spacing-extra-tight: .15em;
  --spacing-tight: .3em;
  --spacing-regular-em: 1em;
  --spacing-regular-rem: 1rem;
  --spacing-loose: 1.5rem;
  --spacing-extra-loose-em: 2rem;
  --spacing-extra-loose-rem: 2rem;
  --spacing-loose-fluid: 4vw;

  /* Other. */
  --line-length: 33em;  /* approx. 66 characters line width */
  --border-radius: 5px;
  --transition-regular: 500ms cubic-bezier(.23, 1, .32, 1);
}

/* Minimum regular font size. */
@media screen and (max-width: 1000px) {
  :root { --font-size-regular: calc(var(--frmin) * 1px); }
}

/* Maximum regular font size. */
@media screen and (min-width: 1375px) {
  :root { --font-size-regular: calc(var(--frmax) * 1px); }
}

/* Type scale limits override for layout with sidebar. */
@media screen and (min-width: 36em) {
  :root {
    --wrmin: 42;  /* viewport width at minimum type scale ratio, rem */
    --wrmax: 78;  /* viewport width at maximum type scale ratio, rem */
  }
}

/* Minimum type scale font sizes. */
@media
    screen and (max-width: 22.5em),
    screen and (min-width: 36em) and (max-width: 42em) {
  :root {
    --font-size-small: calc(1rem / var(--rmin));
    --font-size-big: calc(1rem * var(--rmin));
    --font-size-subhead: calc(var(--font-size-big) * var(--rmin));
    --font-size-subhead2: calc(var(--font-size-subhead) * var(--rmin));
    --font-size-head: calc(var(--font-size-subhead2) * var(--rmin));
    --font-size-display: calc(var(--font-size-head) * var(--rmin));
  }
}

/* Maximum type scale font sizes. */
@media screen and (min-width: 78em) {
  :root {
    --font-size-small: calc(1rem / var(--rmax));
    --font-size-big: calc(1rem * var(--rmax));
    --font-size-subhead: calc(var(--font-size-big) * var(--rmax));
    --font-size-subhead2: calc(var(--font-size-subhead) * var(--rmax));
    --font-size-head: calc(var(--font-size-subhead2) * var(--rmax));
    --font-size-display: calc(var(--font-size-head) * var(--rmax));
  }
}

/* Font sizes for printing. */
@media print {
  :root {
    --font-size-small: calc(1rem / var(--rprint));
    --font-size-big: calc(1rem * var(--rprint));
    --font-size-subhead: calc(var(--font-size-big) * var(--rprint));
    --font-size-subhead2: calc(var(--font-size-subhead) * var(--rprint));
    --font-size-head: calc(var(--font-size-subhead2) * var(--rprint));
    --font-size-display: calc(var(--font-size-head) * var(--rprint));
  }
}

/* ----------------------------------------------------------------------------
Body
---------------------------------------------------------------------------- */

html {
  box-sizing: border-box;
  font-family: var(--font-main);
  font-feature-settings: var(--font-common-settings), 'onum', 'pnum';
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
}

*, *::before, *::after { box-sizing: inherit; }

body {
  background-color: var(--colour-page-background);
  color: var(--colour-black);
  overscroll-behavior-y: none;  /* disable vertical over-scrolling */
}

/* ----------------------------------------------------------------------------
Layout
---------------------------------------------------------------------------- */

/* Layout with #site-header as site header. */
#site-header {
  margin: 0;
  overscroll-behavior-y: none;  /* disable scroll chaining */
  padding: var(--spacing-extra-loose-rem) var(--spacing-loose-fluid);
}

#main-content {
  margin: 0 auto;
  padding: var(--spacing-extra-loose-rem) var(--spacing-loose-fluid);
}

/* Adjust padding for devices with non-rectangular screens (e.g. iPhone X). */
@supports(padding: max(1rem)) {
  #site-header, #main-content {
    padding:
      var(--spacing-extra-loose-rem)
      max(var(--spacing-loose-fluid), env(safe-area-inset-right))
      var(--spacing-extra-loose-rem)
      max(var(--spacing-loose-fluid), env(safe-area-inset-left));
  }
}

/* Layout with #site-header as static sidebar. */
@media screen and (min-width: 36em) {
  #site-header, #main-content { --sidebar-width: 33vw; }

  #site-header {
    bottom: 0;
    display: flex;  /* centre sidebar content by using margin:auto on child */
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;  /* fix sidebar scrolling on iOS */
    /* We emulate vertical padding with empty element due to browser issues. */
    padding: 0 var(--spacing-regular-rem);
    position: fixed;
    top: 0;
    width: var(--sidebar-width);
    will-change: transform;  /* optimise page repaint during scrolling */
  }

  #site-header > div::before, #site-header > div::after {
    /* Emulate vertical padding with empty element because padding-bottom is
    inconsistent across browsers in case of vertical overflow. */
    content: '';
    display: block;
    min-height: var(--spacing-loose-fluid);
  }

  #main-content {
    display: flex;  /* to centre main content by using margin:auto on child */
    margin-left: var(--sidebar-width);
    min-height: 100vh;  /* centre main content vertically */
    padding: var(--spacing-loose-fluid);
  }

  @supports(padding: max(1rem)) {
    #site-header {
      padding-left:
        max(var(--spacing-regular-rem), env(safe-area-inset-left));
      padding-right:
        max(var(--spacing-regular-rem), env(safe-area-inset-right));
    }

    #main-content {
      padding-left:
        max(var(--spacing-loose-fluid), env(safe-area-inset-left));
      padding-right:
        max(var(--spacing-loose-fluid), env(safe-area-inset-right));
    }
  }
}

/* ----------------------------------------------------------------------------
Site header
---------------------------------------------------------------------------- */

#site-header {
  background: url(/img/header-bg.jpg) center/cover no-repeat;
  font-feature-settings: var(--font-common-settings),
    'dlig', 'swsh', 'onum', 'pnum';
  font-size: var(--font-size-big);
  line-height: var(--line-height-tight);
  text-align: center;
  user-select: none;
}

@media screen and (min-width: 36em) {
  #site-header {
    background: url(/img/sidebar-bg.jpg) center/cover no-repeat;
  }

  /* Hide site tags for small height screens to prevent vertical overflow. */
  @media screen and (max-height: 414px) {
    #site-header .site-tags { display: none; }
  }
}

#site-header > div {
  /* Centre content in case of horizontal overflow. */
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;  /* centre content */
  min-width: 0;
}

#site-header > div > * {
  filter: drop-shadow(.1em .1em .1em black);
  margin: 0 0 var(--spacing-loose);
}

#site-header .site-title {
  font-size: var(--font-size-display);
  line-height: var(--line-height-extra-tight);
  margin: 0 0 .25em;
}

#site-header .site-tags-title {
  color: var(--colour-white);
  display: inline;
  font-size: 1em;
}

#site-header .site-tag {
  margin: 0 .3em 0 0;
  white-space: nowrap;
}

#site-header .site-nav { line-height: var(--line-height-extra-tight); }

#site-header .nav-icon { transition: color var(--transition-regular); }

/* #site-header .nav-icon:active {} */

#site-header .nav-icon:hover {
  color: var(--colour-main);
  transition: color var(--transition-regular);
}

#site-header .site-legal {
  margin-bottom: 0;
  white-space: nowrap;
}

#site-header a { color: var(--colour-white); }

#site-header p {
  color: var(--colour-white);
  margin: 0;
}

#site-header small {
  color: var(--colour-white-muted);
  font-size: var(--font-size-small);
  line-height: var(--line-height-extra-tight);
}

/* ----------------------------------------------------------------------------
Man content
---------------------------------------------------------------------------- */

#main-content { background: url(/img/content-bg.jpg); }

#main-content > div {
  margin: auto;  /* centre content */
  max-width: var(--line-length);
  min-width: 0;  /* prevents white-space:pre from breaking flex layout */
}

/* ----------------------------------------------------------------------------
Forms
---------------------------------------------------------------------------- */

label, textarea, input, button {
  /* Consistent spacing for form elements. */
  display: block;
  line-height: var(--line-height-tight);
}

form > div {
  clear: both;
  margin: 0 0 var(--spacing-regular-em);
  overflow: hidden;
}

form > div:last-child { margin-top: 1.5em; }

label {
  color: var(--colour-grey);
  padding:
    var(--spacing-tight)
    var(--spacing-tight)
    var(--spacing-extra-tight)
    0;
}

@media screen and (min-width: 36em) {
  form > div:last-child { margin-top: 0; }

  label {
    border: 1px solid transparent;  /* to align label text with input text */
    float: left;
    text-align: right;
    width: 20%;
  }

  form > div > div {
    float: right;
    width: 80%;
  }
}

textarea {
  border: 1px solid var(--colour-grey-muted);
  min-height: 7.5em;
  padding: var(--spacing-tight);
  resize: vertical;
  width: 100%;
}

input {
  border: 1px solid var(--colour-grey-muted);
  padding: var(--spacing-tight);
  width: 15em;
}

button {
  background-color: var(--colour-main);
  border: 1px solid var(--colour-black-muted);
  color: var(--colour-white);
  font-weight: bold;
  padding: var(--spacing-tight);
  text-align: center;
  transition: background-color var(--transition-regular);
  user-select: none;
}

button:hover {
  background-color: var(--colour-black);
  text-decoration: underline;
  transition: background-color var(--transition-regular);
}

button:focus { text-decoration: underline; }

/* button:active {} */

input:valid, textarea:valid { color: var(--colour-black); }

input:invalid, textarea:invalid { color: var(--colour-red); }

label::after {
  color: var(--colour-red);
  content: '*';  /* all form fields are mandatory */
}

::placeholder { color: var(--colour-grey); }

/* ----------------------------------------------------------------------------
Images & Figures
---------------------------------------------------------------------------- */

.page-image, figure {
  display: block;
  margin: .5rem auto var(--spacing-regular-rem);
  position: relative;
  width: 100%;
}

.page-image::before, figure::before {
  content: '';
  display: block;
  /* Allocate space for image to prevent page reflow. */
  padding-bottom: calc(100% / (var(--aspect-ratio)));  /* defined in html */
}

.page-image::after, figure::after {
  /* Clearfix. */
  clear: both;
  content: '';
  display: table;
}

.page-image img {
  display: block;
  /* Put image into allocated padding area. */
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* uncss:ignore */
figure svg {
  display: block;
  height: auto;
  width: 100%;
}
/* uncss:ignore end */

.page-image small {
  color: var(--colour-grey);
  float: right;
  font-family: var(--font-secondary);
  margin: var(--spacing-extra-tight) 0 0;
  text-align: right;
}

figure figcaption {
  font-family: var(--font-secondary);
  font-size: var(--font-size-small);
  line-height: var(--line-height-extra-tight);
  margin: 0 0 var(--spacing-tight);
  text-align: center;
}

/* ----------------------------------------------------------------------------
Icons
---------------------------------------------------------------------------- */

.content-icon {
  transition: color var(--transition-regular);
  user-select: none;
}

.content-icon:hover {
  color: var(--colour-black);
  transition: color var(--transition-regular);
}

/* .content-icon:active {} */

/* ----------------------------------------------------------------------------
Source Code
---------------------------------------------------------------------------- */

code, pre {
  font-family: var(--font-secondary);
  font-feature-settings: var(--font-common-settings), 'lnum';
}

code {
  color: var(--colour-brown);
  hyphens: manual;
}

pre {
  line-height: var(--line-height-tight);
  margin: 0;
}

.highlight {
  font-size: var(--font-size-small);
  margin: 0 0 var(--spacing-regular-em);
  overflow: auto;
}

.highlight > pre { display: flex; }  /* align children horizontally */

.highlight > pre > code {
  display: block;
  flex-shrink: 0;  /* prevents flex items from overlapping in Safari */
  padding:
    var(--spacing-regular-rem)
    0  /* we emulate padding-right with empty element due to browser issues */
    var(--spacing-regular-rem)
    var(--spacing-regular-rem);
}

.highlight > pre::after {
  /* Emulate padding-right with empty element because true padding-right is
  inconsistent across browsers in case of horizontal overflow. */
  content: '';
  display: block;
  min-width: var(--spacing-regular-rem);  /* padding-right */
}

input, textarea, strong > em, ins, figure, .highlight {
  background: url(/img/code-bg.png) local;
  border-radius: var(--border-radius);
}

/* ----------------------------------------------------------------------------
Horizontal Rule
---------------------------------------------------------------------------- */

hr {
  /* Hide default rule to display custom one with 'content' property. */
  border-style: none;
  color: var(--colour-brown);
  display: block;
  height: 0;
  line-height: 1px;
  margin: 0 0 var(--spacing-regular-em);
  padding: 0;
  text-align: center;
}

hr::after { content: '—\200a§\200a—'; }  /* HAIR SPACE */

/* ----------------------------------------------------------------------------
Links
---------------------------------------------------------------------------- */

a {
  color: var(--colour-main);
  text-decoration: none;
}

a[rel='external']::after { content: '↗'; }

a[href^='#']::after { content: '↓'; }

a.link-icon::before, a.link-icon::after { content: none; }

a:hover, a:focus { text-decoration: underline; }

/* a:active {} */

a.link-icon:hover, a.link-icon:focus { text-decoration: none; }

/* ----------------------------------------------------------------------------
Lists
---------------------------------------------------------------------------- */

ul, ol, dl { margin: 0 0 var(--spacing-regular-em); }

ul, ol { padding: 0 0 0 var(--spacing-extra-loose-em); }

/* Remove vertical spacing between paragraph and following list. */
p + ul, p + ol { margin-top: calc(var(--spacing-regular-em) * -1); }

li, li ul, li ol { margin: 0; }

/* ----------------------------------------------------------------------------
Ordered Lists
---------------------------------------------------------------------------- */

ol {
  counter-reset: number-counter;
  list-style: none;
}

ol > li::before {
  content: counter(number-counter) '.\00a0';  /* NO-BREAK SPACE */
  counter-increment: number-counter;
  display: inline-block;
  font-feature-settings: var(--font-common-settings), 'case';
  margin-left: -1em;
  text-align: right;
  width: 1em;
}

ol ol { counter-reset: alpha-counter; }

ol ol > li::before {
  content: counter(alpha-counter, lower-alpha) '.\00a0';  /* NO-BREAK SPACE */
  counter-increment: alpha-counter;
  font-style: italic;
}

/* ----------------------------------------------------------------------------
Unordered Lists
---------------------------------------------------------------------------- */

ul { list-style: none; }

ul > li::before {
  content: '•\2002';  /* EN SPACE */
  display: inline-block;
  font-feature-settings: var(--font-common-settings), 'case';
  margin-left: -1em;
  text-align: right;
  width: 1em;
}

/* ----------------------------------------------------------------------------
Inline Lists
---------------------------------------------------------------------------- */

ul.inline {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.inline li { display: inherit; }

ul.inline li::before { content: none; }

/* ----------------------------------------------------------------------------
Inline Definition Lists (Metadata)
---------------------------------------------------------------------------- */

dl.inline { line-height: var(--line-height-tight); }

dl.inline > div {
  display: inline;
  white-space: nowrap;
}

dl.inline > div.new-line { display: block; }  /* force line break */

dl.inline > div.wrap-text { white-space: normal; }

dl.inline dt {
  display: inline;
  font-weight: normal;
}

dl.inline dd {
  display: inline;
  margin: 0 var(--spacing-regular-em) 0 0;
}

/* ----------------------------------------------------------------------------
Footnotes
---------------------------------------------------------------------------- */

sup[id^='fnref:'] {
  font-size: inherit;
  position: inherit;
  vertical-align: inherit;
}

a.footnote::before, a.reversefootnote::before { content: '['; }

a.footnote::after, a.reversefootnote::after { content: ']'; }

.footnotes {
  font-size: var(--font-size-small);
  margin: 0 0 var(--spacing-regular-em);
}

.footnotes ol {
  counter-reset: footnote;
  list-style: none;
}

.footnotes li { margin: 0; }

.footnotes li::before { content: none; }

.footnotes p { margin-bottom: var(--spacing-tight); }

.footnotes p:first-child::before {
  color: var(--colour-brown);
  content: counter(footnote) '\00a0';  /* NO-BREAK SPACE */
  counter-increment: footnote;
  display: inline-block;
  font-feature-settings: var(--font-common-settings), 'sups';
  font-weight: bold;
  margin-left: -1em;
  text-align: right;
  width: 1em;
}

@media screen and (min-width: 36em), print {
  sup[id^='fnref:'] {
    font-feature-settings: var(--font-common-settings), 'sups';
  }

  a.footnote::before { content: ' '; }
  a.footnote::after { content: none; }
}

/* ----------------------------------------------------------------------------
Headings
---------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-feature-settings: var(--font-common-settings),
    'dlig', 'swsh', 'onum', 'pnum';
  font-weight: normal;
  margin: var(--spacing-regular-rem) 0 .5rem;
}

h1 {
  font-feature-settings: var(--font-common-settings),
    'dlig', 'swsh', 'onum', 'pnum', 'smcp';
  font-size: var(--font-size-head);
  line-height: var(--line-height-tight);
  margin-top: 0;  /* prevent excessive space above h1 in header layout */
}

h2 {
  font-size: var(--font-size-subhead);
  line-height: var(--line-height-tight);
}

h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
}

/* ----------------------------------------------------------------------------
Text Sections
---------------------------------------------------------------------------- */

main p {
  /* Hyphenation. */
  -webkit-hyphenate-limit-after: 2;  /* legacy */
  -webkit-hyphenate-limit-before: 3;  /* legacy */

  -ms-hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-last: always;

  -ms-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-lines: 2;

  hyphens: auto;

  margin: 0 0 var(--spacing-regular-em);
}

aside { margin: var(--spacing-regular-em) 0; }

article, section { margin: 0 0 var(--spacing-loose); }

article > header, article > footer { font-family: var(--font-secondary); }

address { text-align: center; }

@media screen {  /* not for printing */
  p.drop-letter, .drop-letter > p:first-child { margin-top: 1.25em; }

  p.drop-letter::first-letter, .drop-letter > p:first-child::first-letter {
    color: var(--colour-main);
    font-size: var(--font-size-display);
    line-height: 0;
    text-shadow:
      -1px -1px 0 var(--colour-black),
      1px -1px 0 var(--colour-black),
      -1px 1px 0 var(--colour-black),
      1px 1px 0 var(--colour-black);
  }
}

/* ----------------------------------------------------------------------------
Abbreviations
---------------------------------------------------------------------------- */

abbr[title] {
  border-bottom: none !important;
  cursor: help;
  font-style: italic;
  text-decoration: none !important;
}

/* ----------------------------------------------------------------------------
Quotations
---------------------------------------------------------------------------- */

blockquote, q {
  color: var(--colour-brown);
  quotes: '‘' '’' '“' '”';
}

blockquote {
  border-left: .07em solid var(--colour-brown);
  margin: .8em 0;
  padding: 0 0 0 var(--spacing-regular-rem);
}

blockquote p { display: inline-block; }

blockquote p:last-child { margin-bottom: 0; }

cite { font-style: italic; }

/* ----------------------------------------------------------------------------
Text Spans
---------------------------------------------------------------------------- */

b, strong { font-weight: bold; }

i, em { font-style: italic; }

strong > em {
  border: 1px solid var(--colour-grey-muted);
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: var(--spacing-tight);
}

strong > em::before {
  content: '[n.b.] ';
  font-feature-settings: var(--font-common-settings), 'onum', 'pnum', 'smcp';
  font-weight: bold;
}

small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-extra-tight);
}

ins {
  border: 1px solid var(--colour-grey-muted);
  display: inline-block;
  margin: 0;
  padding: var(--spacing-tight);
  text-decoration: none;
}

ins::before {
  content: '[update] ';
  font-feature-settings: var(--font-common-settings), 'onum', 'pnum', 'smcp';
  font-weight: bold;
}

/* del {} */
/* s {} */
/* mark {} */
/* u {} */

/* kbd {} */
/* samp {} */
/* var {} */

/* sub {} */
/* sup {} */

.c2sc { font-feature-settings: var(--font-common-settings), 'c2sc'; }
.aux-link { color: var(--colour-main-muted); }
.aux-text { color: var(--colour-grey); }

/* ----------------------------------------------------------------------------
Accessibility
---------------------------------------------------------------------------- */

.screenreader-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ----------------------------------------------------------------------------
Printing
---------------------------------------------------------------------------- */

@media print {
  /* Do not print interactive content. */
  aside, nav, form, .page-image, .reversefootnote {
    display: none !important;
  }

  /* Remove link destination arrows. */
  a::after { content: none !important; }

  /* Specify page break behaviour. */
  p, h2, h3, h4, h5, h6 { orphans: 3; widows: 3; }
  h2, h3, h4, h5, h6 { page-break-after: avoid; }
  figcaption { page-break-before: avoid; }

  /* Set page margins. */
  @page :left { margin: 20mm 25mm 20mm 20mm; }
  @page :right { margin: 20mm 20mm 20mm 25mm; }
}
