---
layout: null
---


/* Inlined during post-processing. */
@import 'normalize.css';
@import 'syntax.css';
@import 'icons.css';

/* ----------------------------------------------------------------------------
Custom Properties
---------------------------------------------------------------------------- */

:root {
  --colour-main: {{ site.colours.main }};
  --colour-main-muted: rgba(172, 65, 66, .75);
  --colour-page-background: #e7d9cc;

  --colour-black: {{ site.colours.black }};
  --colour-black-muted: #737373;

  --colour-white: #fff;
  --colour-white-muted: rgba(255, 255, 255, .9);

  --colour-grey: #787878;
  --colour-grey-muted: #e0e0e0;

  --colour-brown: #895061;
  --colour-red: #cb4437;

  --font-common-settings: 'kern', 'cpsp', 'liga', 'clig', 'calt', 'locl';
  --font-main: alegreya, serif;
  --font-secondary: alegreya-sans, sans-serif;

  --line-height-base: 1.25;

  --padding-text: 1rem;
  --padding-block-flexible: 4vw;
  --padding-block-fixed: 2rem;
}

/* ----------------------------------------------------------------------------
Body
---------------------------------------------------------------------------- */

html {
  box-sizing: border-box;
  min-width: 250px;
  line-height: var(--line-height-base);
  font-size: 1.6vw;
  font-family: var(--font-main);
  font-feature-settings: var(--font-common-settings), 'onum', 'pnum';
}

/* Minimum font size. */
@media screen and (max-width: 1000px) {
  html { font-size: 16px; }
}

/* Maximum font size. */
@media screen and (min-width: 1375px) {
  html { font-size: 22px; }
}

*, *::before, *::after { box-sizing: inherit; }

body {
  background: url(/img/content-bg.jpg) scroll var(--colour-page-background);
  color: var(--colour-black);
  overscroll-behavior: none;
}

/* ----------------------------------------------------------------------------
Layout
---------------------------------------------------------------------------- */

/* Layout with .sidebar as site header. */
.sidebar {
  margin: 0;
  padding: var(--padding-block-fixed) var(--padding-block-flexible);
}

.content {
  margin: 0 auto;
  padding: var(--padding-block-fixed) var(--padding-block-flexible);
}

.content > div {
  margin: auto;  /* centre content horizontally */
  max-width: 33em;  /* approx. 66 characters line width */
}

/* Adjust padding for devices with non-rectangular screens (e.g., iPhone X). */
@supports(padding: max(1rem)) {
  .sidebar, .content {
    padding:
      var(--padding-block-fixed)
      max(var(--padding-block-flexible), env(safe-area-inset-right))
      var(--padding-block-fixed)
      max(var(--padding-block-flexible), env(safe-area-inset-left));
  }
}

/* Layout with .sidebar as static sidebar. */
@media screen and (min-width: 36em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33vw;
    overflow: auto;
    -webkit-overflow-scrolling: touch;  /* fix sidebar scrolling on iOS */
    will-change: transform;  /* optimize page repaint during scrolling */
    padding: var(--padding-block-flexible) var(--padding-text);
  }

  .content {
    margin-left: 33vw;
    padding: var(--padding-block-flexible);
  }

  @supports(padding: max(1rem)) {
    .sidebar {
      padding:
        var(--padding-block-flexible)
        max(var(--padding-text), env(safe-area-inset-right))
        var(--padding-block-flexible)
        max(var(--padding-text), env(safe-area-inset-left));
    }

    .content {
      padding:
        var(--padding-block-flexible)
        max(var(--padding-block-flexible), env(safe-area-inset-right))
        var(--padding-block-flexible)
        max(var(--padding-block-flexible), env(safe-area-inset-left));
    }
  }
}

/* ----------------------------------------------------------------------------
Sidebar
---------------------------------------------------------------------------- */

.sidebar {
  background: url(/img/sidebar-bg-small.jpg) center/cover no-repeat scroll;
  max-width: 100%;  /* make background image full-bleed */
  text-align: center;
  font-feature-settings: var(--font-common-settings),
    'dlig', 'swsh', 'onum', 'pnum';
  font-size: 1.25rem;
  line-height: var(--line-height-base);
  user-select: none;
}

@media screen and (min-width: 36em) {
  .sidebar {
    background: url(/img/sidebar-bg-large.jpg) center/cover no-repeat scroll;
  }
}

.sidebar header, .sidebar section { margin-bottom: 1.5rem; }

.sidebar nav, .sidebar footer { line-height: 1; }

.sidebar p, .sidebar footer { margin-bottom: 0; }

.sidebar a, .sidebar h1, .sidebar h2, .sidebar p, .sidebar ul {
  color: var(--colour-white);
  font-weight: normal;
  text-shadow: var(--colour-black) .1em .1em .1em;
}

.sidebar h1 {
  font-size: 2.2rem;
  line-height: 1;
  margin: 0 0 .5rem;
}

.sidebar h2 {
  display: inline;
  font-size: 1em;
}

.sidebar small {
  font-size: 70%;
  color: var(--colour-white-muted);
}

.sidebar .icon-wrapper { filter: drop-shadow(.1em .1em .1em black); }

/* ----------------------------------------------------------------------------
Forms
---------------------------------------------------------------------------- */

form > div {
  clear: both;
  overflow: hidden;
  padding: .3rem;
}

form > div > label {
  color: var(--colour-grey);
  padding: .3rem .3rem .3rem 0;
}

form > div > div { margin: .2rem 0 1rem; }

@media screen and (min-width: 36em) {
  form > div > label {
    width: 20%;
    float: left;
    text-align: right;
  }

  form > div > div {
    width: 80%;
    float: right;
    margin: 0 0 .5rem;
  }
}

textarea {
  width: 100%;
  min-height: 7.5rem;
  padding: .3rem;
  border: 1px solid var(--colour-grey-muted);
  resize: vertical;
}

input {
  width: 15rem;
  padding: .3rem;
  border: 1px solid var(--colour-grey-muted);
}

button {
  display: block;
  font-weight: bold;
  padding: .3rem;
  background-color: var(--colour-main);
  transition: background-color 500ms cubic-bezier(.23, 1, .32, 1);
  color: var(--colour-white);
  text-align: center;
  border: 1px solid var(--colour-black-muted);
  user-select: none;
}

button:hover {
  text-decoration: underline;
  background-color: var(--colour-black);
  transition: background-color 500ms cubic-bezier(.23, 1, .32, 1);
}

button:focus { text-decoration: underline; }

/* button:active {} */

input:valid, textarea:valid { color: var(--colour-black); }
input:invalid, textarea:invalid { color: var(--colour-red); }

label::after {
  content: '*';  /* All form fields are mandatory. */
  color: var(--colour-red);
}

::placeholder { color: var(--colour-grey); }

/* ----------------------------------------------------------------------------
Images & Figures
---------------------------------------------------------------------------- */

.page-image, figure { margin: 0 auto 1rem; }

.page-image::after, figure::after {
  /* Clearfix. */
  content: '';
  display: table;
  clear: both;
}

/* ----------------------------------------------------------------------------
Page Images
---------------------------------------------------------------------------- */

.page-image {
  position: relative;
  display: block;
  width: 100%;
}

.page-image::before {
  content: '';
  display: block;
  /* Allocate space for image to prevent page reflow. */
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

.page-image img {
  display: block;
  /* Put image into allocated padding area. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.page-image small {
  font-family: var(--font-secondary);
  text-align: right;
  opacity: .75;
  float: right;
  margin-top: .1rem;
}

/* ----------------------------------------------------------------------------
Figures
---------------------------------------------------------------------------- */

figure img, figure object {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

figure figcaption {
  font-size: 80%;
  margin-bottom: .5rem;
  text-align: center;
}

/* ----------------------------------------------------------------------------
Icons
---------------------------------------------------------------------------- */

.nav-icon {
  transition: color 500ms cubic-bezier(.23, 1, .32, 1);
  user-select: none;
}

.nav-icon:hover {
  color: var(--colour-main);
  transition: color 500ms cubic-bezier(.23, 1, .32, 1);
}

/* .nav-icon:active {} */

.content-icon {
  transition: color 500ms cubic-bezier(.23, 1, .32, 1);
  user-select: none;
}

.content-icon:hover {
  color: var(--colour-black);
  transition: color 500ms cubic-bezier(.23, 1, .32, 1);
}

/* .content-icon:active {} */

/* ----------------------------------------------------------------------------
Source Code
---------------------------------------------------------------------------- */

code, pre {
  font-family: var(--font-secondary);
  font-feature-settings: var(--font-common-settings), 'lnum';
}

code {
  font-size: 1rem;
  color: var(--colour-brown);
  overflow-wrap: break-word;
  word-wrap: break-word;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: var(--padding-text);
  line-height: 1.4;
  white-space: pre;
  overflow: auto;
}

pre code {
  font-size: .85rem;
  overflow-wrap: normal;
  word-wrap: normal;
  overflow-x: auto;
  padding: 0;
}

input, textarea, strong > em, ins, figure {
  background: url(/img/code-bg.png) scroll;
  border-radius: 5px;
}

/* Code with line numbers. */
table.rouge-table {
  margin: 0;
  border: none;
}

td.gl.gutter, td.code, td.code > pre { padding: 0; }

pre.lineno {
  padding: 0 var(--padding-text) 0 0;
  text-align: center;
}

.highlight {
  margin: 1rem 0;
  border-radius: 4px;
}

.highlight pre { margin-bottom: 0; }

/* ----------------------------------------------------------------------------
Horizontal Rule
---------------------------------------------------------------------------- */

hr {
  /* Hide rule. */
  display: block;
  height: 0;
  margin: 1em 0;
  padding: 0;
  border-style: none;
  color: var(--colour-brown);
  text-align: center;
  line-height: 1px;
}

hr::after { content: '— § —'; }

/* ----------------------------------------------------------------------------
Focus Event
---------------------------------------------------------------------------- */

/* a:focus, input:focus, textarea:focus, button:focus {} */

/* ----------------------------------------------------------------------------
Links
---------------------------------------------------------------------------- */

a {
  color: var(--colour-main);
  text-decoration: none;
}

a[rel='external']::after { content: '↗'; }

a[href^='#']::after { content: '↓'; }

a.link-icon::before, a.link-icon::after { content: none; }

a:hover, a:focus { text-decoration: underline; }

/* a:active {} */

a.link-icon:hover, a.link-icon:focus { text-decoration: none; }

/* ----------------------------------------------------------------------------
Lists
---------------------------------------------------------------------------- */

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  /* Consistent indentation. */
  margin-left: 0;
  padding-left: 2rem;
}

li { margin-bottom: .25rem; }

li ul, li ol { margin-top: .25rem; }

dt { font-weight: bold; }

dd { margin-bottom: .5rem; }

/* ----------------------------------------------------------------------------
Unordered Lists
---------------------------------------------------------------------------- */

ul { list-style: none; }

ul li::before {
  content: '•';
  font-feature-settings: var(--font-common-settings), 'case';
  display: inline-block;
  width: .6rem;
  margin-left: -.6rem;
}

/* ----------------------------------------------------------------------------
Inline Lists
---------------------------------------------------------------------------- */

ul.inline {
  display: inline;
  list-style: none;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

ul.inline li { display: inline; }

ul.inline li::before { content: none; }

@media screen and (min-width: 36em) {
  ul.inline { line-height: var(--line-height-base); }
}

/* ----------------------------------------------------------------------------
Inline Definition Lists (Metadata)
---------------------------------------------------------------------------- */

dl.inline { line-height: var(--line-height-base); }

dl.inline > div {
  display: inline;
  white-space: nowrap;
}

dl.inline > div.new-line { display: block; }  /* force line break */

dl.inline > div.wrap-text { white-space: normal; }

dl.inline dt {
  display: inline;
  font-weight: normal;
}

dl.inline dd {
  display: inline;
  margin: 0 1.5rem 0 0;
}

/* ----------------------------------------------------------------------------
Footnotes
---------------------------------------------------------------------------- */

sup[id^='fnref:'] {
  font-size: inherit;
  vertical-align: inherit;
  position: inherit;
}

a.footnote::before, a.reversefootnote::before { content: '['; }

a.footnote::after, a.reversefootnote::after { content: ']'; }

.footnotes {
  font-size: 90%;
  margin-bottom: 2rem;
}

.footnotes p { margin-bottom: .3rem; }

.footnotes ol {
  list-style: none;
  counter-reset: footnote;
}

.footnotes li {
  counter-increment: footnote;
  margin-bottom: 0;
}

.footnotes p:first-child::before {
  content: counter(footnote);
  font-feature-settings: var(--font-common-settings), 'sups';
  font-weight: bold;
  color: var(--colour-brown);
  display: inline-block;
  width: .5rem;
  margin-left: -.5rem;
}

@media screen and (min-width: 36em), print {
  sup[id^='fnref:'] {
    font-feature-settings: var(--font-common-settings), 'sups';
  }

  a.footnote::before { content: ' '; }
  a.footnote::after { content: none; }
}

/* ----------------------------------------------------------------------------
Headings
---------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-feature-settings: var(--font-common-settings),
    'dlig', 'swsh', 'onum', 'pnum';
  font-weight: normal;
  margin: 0 0 .5rem;
  line-height: var(--line-height-base);
}

h1 {
  font-feature-settings: var(--font-common-settings),
    'dlig', 'swsh', 'onum', 'pnum', 'smcp';
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3, h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

/* ----------------------------------------------------------------------------
Text Sections
---------------------------------------------------------------------------- */

main p { line-height: 1.4; }

p, aside {
  margin-top: 0;
  margin-bottom: 1rem;
}

article, section {
  margin-top: 0;
  margin-bottom: 2rem;
}

article > header, article > footer { font-family: var(--font-secondary); }

address { text-align: center; }

p.drop-letter, .drop-letter > p:first-child { margin-top: 1.2em; }

p.drop-letter::first-letter, .drop-letter > p:first-child::first-letter {
  text-shadow:
    -1px -1px 0 var(--colour-black),
    1px -1px 0 var(--colour-black),
    -1px 1px 0 var(--colour-black),
    1px 1px 0 var(--colour-black);
  color: var(--colour-main);
  font-size: 2.5em;
  line-height: 0;
}

/* ----------------------------------------------------------------------------
Abbreviations
---------------------------------------------------------------------------- */

abbr[title] {
  font-style: italic;
  cursor: help;
  border-bottom: none !important;
  text-decoration: none !important;
}

/* ----------------------------------------------------------------------------
Quotations
---------------------------------------------------------------------------- */

blockquote, q { quotes: '‘' '’' '“' '”'; }

blockquote > p::before, q::before { content: open-quote; }

blockquote > p::after, q::after { content: close-quote; }

blockquote {
  padding: 0 var(--padding-text);
  margin: .8rem 0;
  border-left: .07rem solid var(--colour-brown);
  color: var(--colour-brown);
}

blockquote p { display: inline; }

blockquote p:last-child { margin-bottom: 0; }

q { color: var(--colour-brown); }

cite { font-style: italic; }

/* ----------------------------------------------------------------------------
Text Styling
---------------------------------------------------------------------------- */

b, strong { font-weight: bold; }

i, em { font-style: italic; }

strong > em {
  display: inline-block;
  padding: .3rem;
  font-weight: normal;
  font-style: normal;
  border: 1px solid var(--colour-grey-muted);
}

strong > em::before {
  content: '[n.b.] ';
  font-weight: bold;
  font-feature-settings: var(--font-common-settings), 'onum', 'pnum', 'smcp';
}

small { font-size: 80%; }

ins {
  display: inline-block;
  padding: .3rem;
  text-decoration: none;
  border: 1px solid var(--colour-grey-muted);
}

ins::before {
  content: '[update] ';
  font-weight: bold;
  font-feature-settings: var(--font-common-settings), 'onum', 'pnum', 'smcp';
}

/* del {} */
/* s {} */
/* mark {} */
/* u {} */

/* kbd {} */
/* samp {} */
/* var {} */

/* sub {} */
/* sup {} */

.ordn { font-feature-settings: var(--font-common-settings), 'ordn'; }

.main-muted { color: var(--colour-main-muted); }

.grey { color: var(--colour-grey); }

/* ----------------------------------------------------------------------------
Accessibility
---------------------------------------------------------------------------- */

.screenreader-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ----------------------------------------------------------------------------
Printing
---------------------------------------------------------------------------- */

@media print {
  /* Do not print interactive content. */
  aside, nav, form, button, .page-image, .reversefootnote {
    display: none !important;
  }

  /* Remove link destination arrows. */
  a::after { content: '' !important; }

  /* Print background images. */
  main { color-adjust: exact; }

  /* Set page margins. */
  @page :left { margin: 20mm 25mm 20mm 20mm; }
  @page :right { margin: 20mm 20mm 20mm 25mm; }

  /* Specify page breaks. */
  p, h2, h3, h4, h5, h6 { orphans: 3; widows: 3; }
  h2, h3, h4, h5, h6 { break-after: avoid-page; }
  figcaption { break-before: avoid-page; }
}
