@font-face {
  font-family: 'ubuntu_mono';
  src:
    url(/fnt/ubuntumono-r-derivative-custom.woff2) format('woff2'),
    url(/fnt/ubuntumono-r-derivative-custom.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'metamorphous';
  src:
    url(/fnt/metamorphous-regular-derivative-custom.woff2) format('woff2'),
    url(/fnt/metamorphous-regular-derivative-custom.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sans';
  src:
    url(/fnt/pts55f-derivative-custom.woff2) format('woff2'),
    url(/fnt/pts55f-derivative-custom.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sans';
  src:
    url(/fnt/pts56f-derivative-custom.woff2) format('woff2'),
    url(/fnt/pts56f-derivative-custom.woff) format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'pt_sans';
  src:
    url(/fnt/pts75f-derivative-custom.woff2) format('woff2'),
    url(/fnt/pts75f-derivative-custom.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sans';
  src:
    url(/fnt/pts76f-derivative-custom.woff2) format('woff2'),
    url(/fnt/pts76f-derivative-custom.woff) format('woff');
  font-weight: bold;
  font-style: italic;
}
