.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  color: inherit;
  fill: currentColor;
}


.icon-balance-scale {
  font-size: 1.25em;
  margin-bottom: .3rem;
  width: 1.214em;
}


.icon-home, .icon-list, .icon-feed, .icon-question, .icon-info {
  font-size: 2rem;
  margin: 0 .3rem;
}
.icon-home { width: 0.928em; }
.icon-list { width: 0.999em; }
.icon-feed { width: 0.786em; }
.icon-question {
  margin-left: -.1rem;
  width: 0.622em;
}
.icon-info { width: 0.357em; }


.icon-chevron-left { width: 0.7500009983778em; }
.icon-chevron-right {	width: 0.6785712540149689em; }


.icon-twitter, .icon-facebook, .icon-linkedin2, .icon-github {
  font-size: 2rem;
}
.icon-github { margin: 0 .3rem; }


.icon-facebook-square,
.icon-twitter-square,
.icon-reddit-square,
.icon-linkedin-square {
  font-size: 2.2rem;
  margin: 0 .2rem;
}
.icon-facebook-square {	width: 0.857em; }
.icon-twitter-square { width: 0.857em; }
.icon-reddit-square {	width: 0.857em; }
.icon-linkedin-square {	width: 0.857em; }


.icon-paper-plane-o {
  width: .83rem;
  margin-bottom: .09rem;
}


.icon-clock-o {
  width: .7rem;
  margin-bottom: .08rem;
}
.icon-newspaper-o {
  width: .97rem;
  margin-bottom: .04rem;
}
.icon-tags {
  width: .8rem;
  margin-bottom: .07rem;
}
