<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="{{ site.baseurl }}images/avatar.png" alt="avatar">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div class="sidebar-about">
      {% include site-tags.html %}<br/><br/>
    </div>

    <nav class="sidebar-nav">
      <a class="nav-icon" href="{{ site.baseurl }}"><i class="fa fa-home fa-lg" title="Home"></i></a>
      <a class="nav-icon" href="{{ site.baseurl }}archive"><i class="fa fa-list fa-lg" title="Archive"></i></a>
      <a class="nav-icon" href="{{ site.github_profile }}"><i class="fa fa-github fa-lg" title="GitHub"></i></a>
      <a class="nav-icon" href="{{ site.baseurl }}atom.xml"><i class="fa fa-rss fa-lg" title="News Feed"></i></a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
