<!-- Collect site tags. -->
{% if site.tags.size > 0 %}
  {% capture site_tags %}{% if site.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %} {% endcapture %}
  {% for site_tag in site.tags %}
    {% for data_tag in site.data.tags %}
      {% if data_tag.slug == site_tag[0] %}
        {% assign tag = data_tag %}
      {% endif %}
    {% endfor %}
    {% if tag %}
      {% capture site_tags_temp %}{{ site_tags }}<a href="{{ site.baseurl }}posts-by-tag/{{ tag.slug }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
      {% assign site_tags = site_tags_temp %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign site_tags = '' %}
{% endif %}
{{ site_tags }}
