---
layout: default
schema: https://schema.org/CollectionPage
title: Archive
description: 'An archive of all the articles.'
image:
  url: /img/pages/strahov-monastery-theological-library.jpg
  name: &name Strahov Monastery Theological Library, Prague, Czech Republic
  alt: *name
---

{% include page-image.html image=page.image %}

<article>
  <h1>{{ page.title | escape }}</h1>
  {% for post in site.posts offset:2 %}
  <article itemscope itemtype="https://schema.org/BlogPosting">
    {% include post-preview.html %}
  </article>
  {% endfor %}
</article>
