---
layout: default
schema: http://schema.org/Blog
title: '{{ site.title }}'
description: '{{ site.description }}'
keywords: '{{ site.keywords | join:"," }}'
image:
  url: /img/pages/home.jpg
is_home: true
---


<!-- Posts preview. -->
<article>
  <h1>Articles</h1>
  {% for post in paginator.posts %}
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    {% include post-preview.html %}
  </article>
  {% endfor %}

  <!-- Paginator. -->
  <nav class="pagination">
    <h2 class="visuallyhidden">Pagination</h2>
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{ paginator.next_page }}">
      <svg class="icon icon-chevron-left" role="img">
        <title>Arrow Left</title>
        <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-chevron-left"/>
      </svg>
      Older
    </a>
    {% else %}
    <span class="pagination-item older">
      <svg class="icon icon-chevron-left" role="img">
        <title>Arrow Left</title>
        <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-chevron-left"/>
      </svg>
      Older
    </span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/">
      Newer
      <svg class="icon icon-chevron-right" role="img">
        <title>Arrow Right</title>
        <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-chevron-right"/>
      </svg>
    </a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}/page{{ paginator.previous_page }}">
      Newer
      <svg class="icon icon-chevron-right" role="img">
        <title>Arrow Right</title>
        <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-chevron-right"/>
      </svg>
    </a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">
      Newer
      <svg class="icon icon-chevron-right" role="img">
        <title>Arrow Right</title>
        <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-chevron-right"/>
      </svg>
    </span>
    {% endif %}
  </nav>
</article>

<!-- https://developers.google.com/structured-data/site-name -->
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "name" : {{ site.name | jsonify }},
    "url" : "{{ site.url }}"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "{{ site.url }}",
    "logo": "{{ site.baseurl }}/img/pages/logo2.png"
  }
</script>
