---
layout: default
schema: https://schema.org/Blog
title: '{{ site.title }}'
description: '{{ site.description }}'
keywords: '{{ site.keywords | join:"," }}'
image:
  url: /img/pages/website-logo.png
  name: &name '{{ site.title }}'
  alt: *name
is_home: true
---


<!-- Posts preview. -->
<article>
  <h1>Latest Articles</h1>
  {% for post in site.posts limit:2 %}
  <article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    {% include post-preview.html %}
  </article>
  {% endfor %}
  <h2>
    <a class="main-muted" href="/archive">— Older Articles —</a>
  </h2>
</article>

<!-- https://developers.google.com/structured-data/site-name -->
<script type="application/ld+json">
  {
    "@context" : "https://schema.org",
    "@type" : "WebSite",
    "name" : {{ site.title | jsonify }},
    "url" : "{{ site.url }}"
  }
</script>
{% capture logo_url %}/img/pages/organisation-logo.png{% endcapture %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "{{ site.url }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ logo_url }}",
      "width": {{ logo_url | image_width }},
      "height": {{ logo_url | image_height }}
    }
  }
</script>
