<!-- Inserted just after post tile. -->
<dl class="inline grey">
  <div>
    <dt>
      <svg class="icon icon-clock-o" role="img">
        <desc>A clock.</desc>
        <use xlink:href="/icn/symbol-defs.svg#icon-clock-o"/>
      </svg>
      Published:
    </dt>
    <dd>
      <time datetime="{{ include.context.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.context.date | date_to_string }}</time>.
    </dd>
  </div>
  <div>
    <dt>
      <svg class="icon icon-newspaper-o" role="img">
        <desc>A newspaper.</desc>
        <use xlink:href="/icn/symbol-defs.svg#icon-newspaper-o"/>
      </svg>
      Reading time:
    </dt>
    <dd>
      {% if include.context.reading_time %}
      {% assign reading_time = include.context.reading_time %}
      {% else %}
      {% assign reading_time = include.context.content | reading_time %}
      {% endif %}
      <time datetime="PT{{ reading_time }}M" itemprop="timeRequired">{{ reading_time | pluralize:'minute' }}</time>.
    </dd>
  </div>
  <div class="new-line wrap-text">
    <dt>
      <svg class="icon icon-tags" role="img">
        <title>Tags</title>
        <use xlink:href="/icn/symbol-defs.svg#icon-tags"/>
      </svg>
    </dt>
    <dd>
      <ul class="inline">
        {% for tag in include.context.tags %}
        <li>
          <a rel="tag" class="main-muted" href="{{ tag | tag_url | remove:'.html' }}">{{ tag }}</a>{% if forloop.last %}.{% else %},{% endif %}
        </li>
        {% endfor %}
      </ul>
    </dd>
  </div>
</dl>
<meta itemprop="wordCount" content="{{ include.context.content | number_of_words }}">
<meta itemprop="articleSection about" content="{{ site.topic | escape }}">
<meta itemprop="author" content="{{ site.creator.full_name | escape }}">
<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <meta itemprop="name" content="{{ site.title | escape }}">
  <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    {% capture logo_url %}/img/publisher-logo.png{% endcapture %}
    <link itemprop="url contentUrl" href="{{ logo_url }}">
    <meta itemprop="width" content="{{ logo_url | image_width }}">
    <meta itemprop="height" content="{{ logo_url | image_height }}">
  </span>
</span>
<meta itemprop="dateModified" content="{{ include.context.last_modified_at | date_to_xmlschema }}">
