<h2 itemprop="name headline">
  <a href="{{ post.url }}">{{ post.title | liquify | escape }}</a>
  <meta itemprop="url mainEntityOfPage" content="{{ site.url }}{{ post.url }}">
</h2>
<header>
  <h3 class="screenreader-only">Metadata</h3>
  {% include post-meta.html context=post %}
  <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <link itemprop="url contentUrl" href="{{ post.image.url }}">
    <meta itemprop="width" content="{{ post.image.url | image_width }}">
    <meta itemprop="height" content="{{ post.image.url | image_height }}">
  </div>
  <meta itemprop="description" content="{{ post.description | liquify | strip_html | escape }}">
</header>
<p class="drop-letter">
  {{ post.excerpt | liquify | strip_footnotes | remove:'<p>' | remove:'</p>' }}
</p>
