<address>
  <ul class="inline">
    <li>
      <a class="link-icon content-icon" href="{{ site.twitter.profile }}" rel="author external">
        <svg class="icon icon-twitter">
          <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-twitter">
            <title>Twitter Profile</title>
          </use>
        </svg>
      </a>
    </li>
    <li>
      <a class="link-icon content-icon" href="{{ site.facebook.profile }}" rel="author external">
        <svg class="icon icon-facebook">
          <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-facebook">
            <title>Facebook Profile</title>
          </use>
        </svg>
      </a>
    </li>
    <li>
      <a class="link-icon content-icon" href="{{ site.linkedin_profile }}" rel="author external">
        <svg class="icon icon-linkedin2">
          <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-linkedin2">
            <title>LinkedIn Profile</title>
          </use>
        </svg>
      </a>
    </li>
    <li>
      <a class="link-icon content-icon" href="{{ site.github_profile }}" rel="author external">
        <svg class="icon icon-github">
          <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-github">
            <title>GitHub Profile</title>
          </use>
        </svg>
      </a>
    </li>
  </ul>
</address>
