<address>
  <ul class="inline">
    <li>{% assign title = 'Twitter Profile' %}<a rel="author external" class="link-icon content-icon" href="{{ site.twitter.profile }}" title="{{ title }}"><svg class="icon icon-twitter" role="img"><title>{{ title }}</title><use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svg#icon-twitter"/></svg></a></li>
    <li>{% assign title = 'Facebook Profile' %}<a rel="author external" class="link-icon content-icon" href="{{ site.facebook.profile }}" title="{{ title }}"><svg class="icon icon-facebook" role="img"><title>{{ title }}</title><use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svg#icon-facebook"/></svg></a></li>
    <li>{% assign title = 'LinkedIn Profile' %}<a rel="author external" class="link-icon content-icon" href="{{ site.linkedin_profile }}" title="{{ title }}"><svg class="icon icon-linkedin2" role="img"><title>{{ title }}</title><use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svg#icon-linkedin2"/></svg></a></li>
    <li>{% assign title = 'GitHub Profile' %}<a rel="author external" class="link-icon content-icon" href="{{ site.github_profile }}" title="{{ title }}"><svg class="icon icon-github" role="img"><title>{{ title }}</title><use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svg#icon-github"/></svg></a></li>
  </ul>
</address>
