<address>
  <ul class="inline">
    <li>
      {% assign title = 'Twitter Profile' %}
      <a class="link-icon content-icon" href="{{ site.twitter.profile }}" rel="author external" title="{{ title }}">
        <svg class="icon icon-twitter">
          <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-twitter">
            <title>{{ title }}</title>
          </use>
        </svg>
      </a>
    </li>
    <li>
      {% assign title = 'Facebook Profile' %}
      <a class="link-icon content-icon" href="{{ site.facebook.profile }}" rel="author external" title="{{ title }}">
        <svg class="icon icon-facebook">
          <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-facebook">
            <title>{{ title }}</title>
          </use>
        </svg>
      </a>
    </li>
    <li>
      {% assign title = 'LinkedIn Profile' %}
      <a class="link-icon content-icon" href="{{ site.linkedin_profile }}" rel="author external" title="{{ title }}">
        <svg class="icon icon-linkedin2">
          <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-linkedin2">
            <title>{{ title }}</title>
          </use>
        </svg>
      </a>
    </li>
    <li>
      {% assign title = 'GitHub Profile' %}
      <a class="link-icon content-icon" href="{{ site.github_profile }}" rel="author external" title="{{ title }}">
        <svg class="icon icon-github">
          <use xlink:href="{{ site.baseurl }}/svg/symbol-defs.svgz#icon-github">
            <title>{{ title }}</title>
          </use>
        </svg>
      </a>
    </li>
  </ul>
</address>
